In [1]:
#Variables
x=5
y=10
print(x+y)

15

In [4]:
#Rules for declaring variables
    #1. No spaces between names of variables
full_name="Vishnu"
print(full_name)

Vishnu

In [5]:
    #2. No special characters are allowed in the name of the variable
full-name="Vishnu"
print(full_name)

SyntaxError: cannot assign to operator (<ipython-input-5-b44e30f7b387>, line 2)

In [7]:
    #3. Variable name should not starts with number
1full_name="Vishnu"
print(1full_name)

SyntaxError: invalid syntax (<ipython-input-7-00381df24a52>, line 2)

In [8]:
# Introduction to data types in Python:
#1. String     -- str
#2. list       -- list
#3. tuple      -- tuple
#4. dictionary -- dict

# String : string is series of chars-> It's a immutable data type. 
#There are 3 ways to declare a)'python' b)"python" c)"'python'"
print ("This is Vishnu's notebook")

This is Vishnu's notebook

In [9]:
name="vishnu"
print(name.title())

Vishnu

In [10]:
print(name.upper())

VISHNU

In [11]:
print(name.lower())

vishnu

In [15]:
# fstrings -> formatted strings
first_name="Python"
last_name="training"
print(f "Welcome to {first_name} {last_name} tutorials")

SyntaxError: invalid syntax (<ipython-input-15-231481eeadd4>, line 4)

In [18]:
# fstrings -> formatted strings
first_name="Python"
last_name="training"
full_name=f"{first_name} {last_name}"
print(f"Welcome to {first_name} {last_name} tutorials")

Welcome to Python training tutorials